.footer__main {
  display: flex;
  padding-bottom: 80px;
}

.footer__contacts {
  flex: 0 1 50%;
}

.footer__menu {
  flex: 0 1 50%;
  display: flex;
  justify-content: space-between;
}

.footer__contacts {
  display: flex;
}

.footer__logo {
  margin-right: 20px;
}

.footer__tel-link {
  font-size: 28px;
  font-weight: 600;
  &:hover {
    text-decoration: underline;
  }
}

.footer__tel-info {
  text-transform: uppercase;
  font-size: 12px;
}

.footer-menu__item {
  text-transform: uppercase;
  transition: all 0.3s;
  &:hover {
    color: $accent;
  }
  & + & {
    margin-top: 15px;
  }
}

.footer-menu__item--arrow {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url("../images/icons/right-arrow.svg");
    background-size: contain;

    transform: rotate(-45deg);
  }
}

.footer__bottom {
  padding: 20px 0px;
  text-transform: uppercase;
  font-size: 12px;
}

@media (max-width: 910px) {
  .footer__contacts {
    flex-direction: column;
  }
  .footer__logo {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .footer__main {
    padding-bottom: 40px;
  }

  .footer__tel-link {
    font-size: 24px;
  }
  .footer__contacts {
    flex: 0 1 30% "";
  }
  .footer__menu {
    flex: 0 1 70%;
  }
}

@media (max-width: 730px) {
  .footer__logo {
    margin-bottom: 0px;
  }

  .footer__main {
    flex-direction: column;
    padding-bottom: 15px;
  }
  .footer__menu {
    flex: 0 1 100%;
  }
  .footer__contacts {
    margin-bottom: 20px;
  }
  .footer-menu__link {
    font-size: 12px;
  }
  .footer-menu__item + .footer-menu__item {
    margin-top: 10px;
  }
}

@media (max-width: 350px) {
  .footer-menu__link {
    font-size: 11px;
  }
}
