.sales-slider__text{
  color: #fff;
  span{
    font-size: 60px;
    font-weight: 400;
  }
  font-size: 185px;
  font-weight: 800;
  line-height: 0.9;
}


.sales-slider__text--right{
  right: 30px;
  left: auto;
  
}

@media(max-width: 800px){
  .sales-slider__text {
    span{
      font-size: 50px;
    }
    font-size: 150px;
}
}

@media(max-width: 600px){
  .sales-slider__text {
    span{
      font-size: 30px;
    }
    font-size: 100px;
}
}