@import "_fonts";
@import "_vars";
@import "global";
@import "header";
@import "prewie-slider";
@import "sales-slider";
@import "products";
@import "footer";

html {
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}
